@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

:root {
  --main-font: 'Raleway', sans-serif;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --primary-color: #06E59E;
  --secondary-color: #0697E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin-bottom: .55rem;
  line-height: 1.3;
}